.contact-wrapper {
   background: rgb(222, 245, 247);
    color: #333;
    height: 90vh; 
    width: 100%;
    
}
.contact-inner{
    width: 80%;
    margin: 0 auto;
    padding: 30px 60px;
}

.contact-header{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
}
.highlight-contact {
    color: rgb(0, 15, 15);
}
.contact-form{
    margin: 40px 0px;
display: flex;
flex-direction: column;

justify-content: center;
align-items: center;


input {
    width: 50%;
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: 4px;
    background-color:rgb(222, 245, 247);
    color:  rgb(0, 15, 15);
    border: 1px solid rgb(0, 15, 15);
    font-size: 14px;

}

textarea{
    width: 50%;
    margin-bottom: 20px;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: rgb(222, 245, 247);
    color: rgb(0, 15, 15);
    border: none;
    height: 15vh;
    border: 1px solid rgb(0, 15, 15);
    font-size: 14px;
   
}
}
.btn-submit {
background-color: rgb(222, 245, 247);
border-radius: 4px;
padding: 10px 5px;;
color: rgb(0, 15, 15);
font-size: 17px;
min-width: 12%;
border: 1px solid rgb(0, 15, 15);
cursor: pointer;

}
@media only screen and (max-width: 500px) {
 
    .contact-wrapper {
       height: 130vh;
    }
   
   
}
